<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/head')%>
    <body>
        <%- include('layouts/nav')%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About US</h1>
                            <span class="subheading">This is what we do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Welcome to <strong>Clean News</strong>, an online news portal dedicated to bringing you the most accurate, concise, and <strong>impactful news in an uncluttered and easy-to-navigate format</strong>. Our mission is to break through the noise of today's chaotic digital landscape and deliver the essential information you need, without distractions or unnecessary complexities.</p>
                        <p>Our team of experienced and passionate journalists believes that simplicity is the key to understanding. At Clean News, <strong>we prioritize facts and expert analysis</strong>, streamlining information to provide our readers with a clear and focused perspective on the world around them.</p>
                        <p>By maintaining a clutter-free environment, we ensure a seamless reading experience that enables you to stay informed and engaged with current events, without being overwhelmed.</p>
                        <p><strong>Join us on our journey towards a more minimalistic and meaningful news consumption experience.</strong></p>
                    </div>
                </div>
            </div>
        </main>
        <%- include('layouts/footer') %>       
        <%- include('layouts/scripts') %> 
    </body>
</html>
